# <u>This is our Mini project for the course "Fundamental Data Concepts" (4DACF) at SUPINFO Lyon :</u>

## <u>Evaluation Project - Data Processing and Visualization :</u>

## <u>Project Objective :</u>
You will design a complete data processing pipeline that includes several key steps: anonymization, transformation, cleaning, and data visualization.


The goal is to leverage multiple technologies to produce a high-quality pipeline that adheres to best practices.

This project must be carried out in groups of up to three students.

## <u>Contexte :</u>
A fictional e-commerce company aims to leverage its customer and transaction data while complying with GDPR regulations.

The company has a dataset containing sensitive information and seeks to obtain:

- [ ] An automated pipeline for anonymizing, transforming, and cleaning the data in python.
- [ ] A final output optimized for direct use in Power BI.

## <u>BONUS :</u>

- [ ] A set of visualizations in Python that provide insights into the data.

# <u>Step 1:</u> Pipeline Preparation: Python code for anonymization, cleaning, and transformation

In [2]:
# Importing the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

## 1. Exploratory Data Analysis (EDA)

The first step in any data processing pipeline is to understand the data. This involves exploring the data to identify patterns, trends, and potential issues. EDA is a critical step that helps data engineer understand the data and make informed decisions about how to process it.

In [3]:
# Load the dataset : Mini_Projet_Evaluation.csv

dataset_file_path: str = 'data/raw/Mini_Projet_Evaluation.csv'
dataset = pd.read_csv(dataset_file_path)

In [4]:
# Explore the data : Structure of the data, data types, etc.

# Display the first few rows of the dataset

print(f"The dataset head is : \n {dataset.head()}") #to see a quick view of the dataset

The dataset head is :
                                ClientID       Nom       Pr√©nom  \
0  d34f9cab-5d14-469f-aa80-c0146f3b93c7   Walters  Christopher
1  d9b374f9-8cec-4ae7-9137-c1d930d0aae0    Weaver        Linda
2  72855e63-d98e-42e9-a10f-d9e4fac6e82f  Odonnell        Julie
3  3fcb2796-9692-4fcf-affb-0100d9a74ae1     Clark      Charles
4  50b21cc8-6f68-45c5-9b75-335ef55b41b2  Martinez        David

                       Email              T√©l√©phone  \
0       vickie68@hotmail.com     818-767-2351x61325
1    mackrenee@rodriguez.com      892-112-2129x2425
2         alexis55@gmail.com  001-505-122-4709x1134
3  jenniferschmidt@yahoo.com          (101)867-7119
4     hmiddleton@mendoza.com     (820)441-6404x9218

                                             Adresse          Ville  \
0                   Unit 4018 Box 5177, DPO AA 69318      Lauratown
1           19114 Ryan Grove, East Miranda, MO 40887    Herreraview
2           610 Donna Neck, Lake Paulmouth, MA 32585  Lake Erictown
3               177 Anne Bridge, Perezberg, MA 91533  New Andrewton
4  59971 Haynes Glens Apt. 520, Meganhaven, MN 92380  Rodriguezport

   CodePostal                 Pays DateNaissance  ...  \
0       45532  Antigua and Barbuda    1996-09-15  ...
1        6486               Belize    2000-01-11  ...
2       85092              Andorra    1961-06-07  ...
3       87164                Samoa    1970-11-19  ...
4       53640         Burkina Faso    1946-02-26  ...

   Cat√©gorieProduitPr√©f√©r√© Fr√©quenceAchatMensuel  PanierMoyen ScoreFid√©lit√©  \
0                    Sport                     6       165.43            85
1             √âlectronique                     6        71.01            15
2             Alimentation                     9       104.43            10
3             Alimentation                     5       161.23             4
4                     Mode                     1        87.27             6

  NombreRemboursements  MontantTotalRembours√© AvisClient  \
0                    1                  11.68     Neutre
1                    2                 152.13  Satisfait
2                    5                 342.60  Satisfait
3                    0                   0.00  M√©content
4                    0                   0.00  M√©content

   AbonnementNewsletter  TypePaiementFavori StatutCompte
0                  True              Paypal      Inactif
1                 False      Carte bancaire        Actif
2                 False       Cryptomonnaie     Suspendu
3                 False            Virement        Actif
4                  True       Cryptomonnaie      Inactif

[5 rows x 31 columns]

In [5]:
# Display the infos of the dataset

print(f"The dataset info is : \n {dataset.info()}") #to see the structure of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClientID                 1000 non-null   object
 1   Nom                      1000 non-null   object
 2   Pr√©nom                   1000 non-null   object
 3   Email                    1000 non-null   object
 4   T√©l√©phone                1000 non-null   object
 5   Adresse                  1000 non-null   object
 6   Ville                    1000 non-null   object
 7   CodePostal               1000 non-null   int64
 8   Pays                     1000 non-null   object
 9   DateNaissance            1000 non-null   object
 10  √Çge                      1000 non-null   int64
 11  Sexe                     1000 non-null   object
 12  Num√©roCarteCr√©dit        1000 non-null   int64
 13  TypeCarteCr√©dit          1000 non-null   object
 14  DateExpirationCarte      1000 non-null   object
 15  SoldeCompte              1000 non-null   float64
 16  TypeClient               1000 non-null   object
 17  NombreAchats             1000 non-null   int64
 18  MontantTotalAchats       1000 non-null   float64
 19  DernierAchat             1000 non-null   object
 20  ProduitPr√©f√©r√©           1000 non-null   object
 21  Cat√©gorieProduitPr√©f√©r√©  1000 non-null   object
 22  Fr√©quenceAchatMensuel    1000 non-null   int64
 23  PanierMoyen              1000 non-null   float64
 24  ScoreFid√©lit√©            1000 non-null   int64
 25  NombreRemboursements     1000 non-null   int64
 26  MontantTotalRembours√©    1000 non-null   float64
 27  AvisClient               1000 non-null   object
 28  AbonnementNewsletter     1000 non-null   bool
 29  TypePaiementFavori       1000 non-null   object
 30  StatutCompte             1000 non-null   object
dtypes: bool(1), float64(4), int64(7), object(19)
memory usage: 235.5+ KB
The dataset info is :
 None

In [6]:
# Display the shape of the dataset

print(f"This dataset have {dataset.shape[0]} entries and {dataset.shape[1]} columns.") #to see the number of rows and columns in resume, and to see the eventual problems on the dataset

This dataset have 1000 entries and 31 columns.

In [7]:
# Display the descriptive statistics of the dataset

print(f"The dataset describe is : \n {dataset.describe()}") #to see the statistical summary of the dataset, to see the eventual problems on the dataset (outliers, etc.)

The dataset describe is :
          CodePostal          √Çge  Num√©roCarteCr√©dit  SoldeCompte  \
count   1000.000000  1000.000000       1.000000e+03  1000.000000
mean   50576.295000    55.466000       3.992066e+17  2619.975090
std    29093.854764    21.021816       1.288862e+18  1443.421728
min      525.000000    18.000000       6.042067e+10     2.680000
25%    23961.250000    37.000000       1.800195e+14  1385.430000
50%    52513.000000    56.000000       3.505393e+15  2734.705000
75%    76447.000000    73.000000       4.610821e+15  3865.872500
max    99876.000000    91.000000       4.998787e+18  4994.880000

       NombreAchats  MontantTotalAchats  Fr√©quenceAchatMensuel  PanierMoyen  \
count   1000.000000          1000.00000            1000.000000  1000.000000
mean      10.487000          2608.90697               4.879000   238.349630
std        5.890036          2287.38721               3.260213   150.407597
min        0.000000             0.00000               0.000000     0.000000
25%        6.000000           780.31750               2.000000   105.547500
50%       11.000000          1877.64000               5.000000   235.540000
75%       16.000000          4011.89750               8.000000   370.295000
max       20.000000          9752.86000              10.000000   499.830000

       ScoreFid√©lit√©  NombreRemboursements  MontantTotalRembours√©
count    1000.000000           1000.000000             1000.00000
mean       51.484000              2.570000              262.85884
std        28.691583              1.705875              248.75859
min         0.000000              0.000000                0.00000
25%        27.000000              1.000000               50.26500
50%        52.000000              3.000000              192.24000
75%        76.000000              4.000000              394.25250
max       100.000000              5.000000              995.98000

In [8]:
# Display the data types in the dataset

print(f"The dataset data types are : \n {dataset.dtypes}") #to see the data types of the dataset

The dataset data types are :
 ClientID                    object
Nom                         object
Pr√©nom                      object
Email                       object
T√©l√©phone                   object
Adresse                     object
Ville                       object
CodePostal                   int64
Pays                        object
DateNaissance               object
√Çge                          int64
Sexe                        object
Num√©roCarteCr√©dit            int64
TypeCarteCr√©dit             object
DateExpirationCarte         object
SoldeCompte                float64
TypeClient                  object
NombreAchats                 int64
MontantTotalAchats         float64
DernierAchat                object
ProduitPr√©f√©r√©              object
Cat√©gorieProduitPr√©f√©r√©     object
Fr√©quenceAchatMensuel        int64
PanierMoyen                float64
ScoreFid√©lit√©                int64
NombreRemboursements         int64
MontantTotalRembours√©      float64
AvisClient                  object
AbonnementNewsletter          bool
TypePaiementFavori          object
StatutCompte                object
dtype: object

## 2. Data Cleaning

Data cleaning is the process of identifying and correcting errors in the data. This step is essential for ensuring the quality of the data and the accuracy of the analysis. Data cleaning involves several key tasks, including:
- [X] Handling missing values
- [X] Removing duplicates
- [X] Correcting errors
- [X] Standardizing data
- [ ] Handling outliers
- [ ] Encoding categorical variables
- [ ] Feature engineering
- [ ] Handling skewed data
- [ ] Handling time series data
- [ ] Standardizing data types

In [9]:
# Data Cleaning : Cleaning the dataset

# Handling missing values

missing_values_count = dataset.isnull().sum()
print(f"The missing values count is : \n {missing_values_count}") #to see the number of missing values in each column of the dataset

The missing values count is :
 ClientID                   0
Nom                        0
Pr√©nom                     0
Email                      0
T√©l√©phone                  0
Adresse                    0
Ville                      0
CodePostal                 0
Pays                       0
DateNaissance              0
√Çge                        0
Sexe                       0
Num√©roCarteCr√©dit          0
TypeCarteCr√©dit            0
DateExpirationCarte        0
SoldeCompte                0
TypeClient                 0
NombreAchats               0
MontantTotalAchats         0
DernierAchat               0
ProduitPr√©f√©r√©             0
Cat√©gorieProduitPr√©f√©r√©    0
Fr√©quenceAchatMensuel      0
PanierMoyen                0
ScoreFid√©lit√©              0
NombreRemboursements       0
MontantTotalRembours√©      0
AvisClient                 0
AbonnementNewsletter       0
TypePaiementFavori         0
StatutCompte               0
dtype: int64

In [10]:
# Removing duplicates

duplicates_values_count = dataset.duplicated().sum()
print(f"The number of duplicates in the dataset is : {duplicates_values_count}") #to see the number of duplicates in the dataset

The number of duplicates in the dataset is : 0

In [11]:
# Correcting errors

columns_to_verify = ['Sexe', 'Cat√©gorieProduitPr√©f√©r√©', 'AvisClient', 'AbonnementNewsletter', 'TypePaiementFavori', 'StatutCompte'] #to see the columns that we want to verify

for col in columns_to_verify:
    print(f"\nüîπ {col} : {dataset[col].nunique()} unique values") #to see the number of unique values in each column of the dataset
    print(dataset[col].unique())  # to see the unique values in each column of the dataset

üîπ Sexe : 2 unique values
['M' 'F']

üîπ Cat√©gorieProduitPr√©f√©r√© : 5 unique values
['Sport' '√âlectronique' 'Alimentation' 'Mode' 'Maison']

üîπ AvisClient : 5 unique values
['Neutre' 'Satisfait' 'M√©content' 'Tr√®s m√©content' 'Tr√®s satisfait']

üîπ AbonnementNewsletter : 2 unique values
[ True False]

üîπ TypePaiementFavori : 4 unique values
['Paypal' 'Carte bancaire' 'Cryptomonnaie' 'Virement']

üîπ StatutCompte : 3 unique values
['Inactif' 'Actif' 'Suspendu']

In [23]:
# Standardizing data

# Standardizing the float columns
columns_to_round = ['MontantTotalAchats', 'SoldeCompte', 'PanierMoyen', 'MontantTotalRembours√©'] #to see the columns that we want to round

for col in columns_to_round:
    dataset[col] = dataset[col].apply(lambda x: round(x, 2)) #to round the values in each column of the dataset

# Standardizing the countries and cities columns
standardize_name_columns = ['Pays', 'Ville'] #to see the columns that we want to standardize
for col in standardize_name_columns:
    dataset[col] = dataset[col].str.title() #to standardize the values in each column of the dataset

# Standardizing the date columns
standardize_date_columns = ['DateNaissance', 'DernierAchat'] #to see the columns that we want to standardize
def standardise_date(date):
    date = str(date).strip()
    match = re.match(r"^(\d{4})-(\d{2})-(\d{2})$", date)
    if match:
        return f"{match.group(3)}/{match.group(2)}/{match.group(1)}"  # JJ/MM/AAAA
    return date

for col in standardize_date_columns:
    dataset[col] = dataset[col].apply(standardise_date) #to standardize the values in each column of the dataset

                                ClientID        Nom       Pr√©nom  \
0   d34f9cab-5d14-469f-aa80-c0146f3b93c7    Walters  Christopher
1   d9b374f9-8cec-4ae7-9137-c1d930d0aae0     Weaver        Linda
2   72855e63-d98e-42e9-a10f-d9e4fac6e82f   Odonnell        Julie
3   3fcb2796-9692-4fcf-affb-0100d9a74ae1      Clark      Charles
4   50b21cc8-6f68-45c5-9b75-335ef55b41b2   Martinez        David
5   1149c70b-e75d-4398-a784-ff40152810db      Black      Stephen
6   20dea61b-c087-482c-9a71-2def299ed020    Spencer       Alexis
7   3faa9f83-0a50-4657-96cc-401944b5708c      Baker      Stephen
8   cd0594c6-c289-4fd6-92ad-495772743f5a   Williams      Timothy
9   6bed1a9f-2ee0-402e-8907-9fad020e36f7  Macdonald        Kevin
10  0c2cab59-6989-4832-aa97-84c398e67a5d       Haas       Rhonda
11  79eb32ae-12ca-4009-b8ec-b558d039caf8      Gould     Jennifer
12  073fdfca-a8df-4e28-ae42-460761586770     Martin      Tiffany
13  ae2fe7cd-0387-4e2b-abb6-9e6bce679b74       Webb        Frank
14  88dcb53d-58ba-4746-b942-91d07190a03c  Fernandez       Calvin
15  ad388d2e-a57a-4a60-b1d1-4fd15d27b74c      Cooke      Caitlin
16  1eedf4f2-9789-46f7-84ea-4329dc9ea314      Kelly        Robin
17  ef5c5f75-5404-4191-800f-a2bc3dac7412   Marshall      Jeffrey
18  8ff58ece-b7ce-49fc-871d-be7f8ce6153b   Santiago       Tracey
19  4d9c9411-36aa-473d-8fee-308a0442f836   Johnston      Brandon

                        Email               T√©l√©phone  \
0        vickie68@hotmail.com      818-767-2351x61325
1     mackrenee@rodriguez.com       892-112-2129x2425
2          alexis55@gmail.com   001-505-122-4709x1134
3   jenniferschmidt@yahoo.com           (101)867-7119
4      hmiddleton@mendoza.com      (820)441-6404x9218
5     greenemakayla@yahoo.com  001-241-995-6354x33199
6       robertsimon@gmail.com   001-213-157-9454x1584
7            sjames@gmail.com              2057671275
8     simonjonathan@gmail.com       (046)512-6303x860
9        paulpowell@smith.com        008-549-9685x489
10       shellywu@hotmail.com        901-546-7054x875
11   williamburgess@yahoo.com           (605)397-7437
12        tammy92@hotmail.com        123-725-6964x336
13     toddcrawford@gmail.com   001-094-151-6161x1656
14         scotttom@white.com           (410)400-3404
15  riddlelindsay@hotmail.com              3379093229
16          brenda37@long.com       872.173.4183x7125
17          wwright@gmail.com              4698822678
18         angela41@gmail.com            297-608-9379
19          ibenson@yahoo.com      176.380.0735x62459

                                              Adresse               Ville  \
0                    Unit 4018 Box 5177, DPO AA 69318           Lauratown
1            19114 Ryan Grove, East Miranda, MO 40887         Herreraview
2            610 Donna Neck, Lake Paulmouth, MA 32585       Lake Erictown
3                177 Anne Bridge, Perezberg, MA 91533       New Andrewton
4   59971 Haynes Glens Apt. 520, Meganhaven, MN 92380       Rodriguezport
5   70389 Richard Glen Apt. 625, Port Justinshire,...            Tarafurt
6   29242 Humphrey Squares, West Ericamouth, ID 30989          Smithhaven
7                    Unit 3338 Box 9454, DPO AE 48742        West Michael
8             1762 Wilcox Burg, Kennedystad, MI 28020         Bondborough
9        553 Steven Avenue, New Gabrielberg, SC 41397       Carpentertown
10  5226 Timothy Cove Suite 532, Danielburgh, DC 4...    North Randyhaven
11           724 Daniel Brooks, North Jason, MO 64838           Pughville
12   269 Meyer Square Apt. 570, Martinburgh, LA 13683          West Craig
13          1523 Wood Drive, Port Johnburgh, GA 71291      Suzannechester
14            921 Deborah Falls, Stevenfort, MT 76185         Rodneyshire
15  279 Montgomery Causeway Suite 115, Ramirezfort...            Whiteton
16  9701 Gutierrez Route Apt. 518, New Lance, OK 9...         Nicoleburgh
17  2469 Thomas Junctions Suite 075, Port Margaret...  Lake Courtneyville
18       0507 Williams Plains, South Steven, HI 98808        Michaelhaven
19     132 Lester Park Apt. 051, Martinview, NV 41514       North Deborah

    CodePostal                               Pays DateNaissance  ...  \
0        45532                Antigua And Barbuda    15/09/1996  ...
1         6486                             Belize    11/01/2000  ...
2        85092                            Andorra    07/06/1961  ...
3        87164                              Samoa    19/11/1970  ...
4        53640                       Burkina Faso    26/02/1946  ...
5        16900                         San Marino    11/04/1941  ...
6        50362                             Angola    22/11/1984  ...
7         2732                             Norway    26/04/1977  ...
8        63792                          Hong Kong    23/01/1949  ...
9        73481                               Mali    20/09/1940  ...
10       77860  Heard Island And Mcdonald Islands    13/04/1972  ...
11       25709                          Guatemala    22/02/2001  ...
12       11743               Syrian Arab Republic    28/12/1934  ...
13        6798                       Saudi Arabia    09/11/1942  ...
14       10897                              India    26/09/1992  ...
15       30256                        Philippines    02/02/1971  ...
16       16583                           Tanzania    03/07/1958  ...
17       52789                   Saint Barthelemy    12/05/1943  ...
18       63558                            Estonia    28/10/1959  ...
19        6684                              Korea    30/12/1999  ...

    Cat√©gorieProduitPr√©f√©r√© Fr√©quenceAchatMensuel  PanierMoyen ScoreFid√©lit√©  \
0                     Sport                     6       165.43            85
1              √âlectronique                     6        71.01            15
2              Alimentation                     9       104.43            10
3              Alimentation                     5       161.23             4
4                      Mode                     1        87.27             6
5              √âlectronique                     0       379.82            74
6              Alimentation                     2        18.39            40
7              Alimentation                     0        34.74            37
8                    Maison                     5       396.96            20
9                      Mode                     2        68.74            15
10                     Mode                     1       333.95            47
11                    Sport                     2       499.05            55
12                   Maison                     0       174.48            27
13                     Mode                     3       385.85             4
14             Alimentation                     8       189.50            23
15                   Maison                    10        40.50            59
16             √âlectronique                     0         0.00            10
17                    Sport                     8       340.39            93
18                     Mode                     0       143.89            10
19                    Sport                     1        18.95            47

   NombreRemboursements  MontantTotalRembours√©      AvisClient  \
0                     1                  11.68          Neutre
1                     2                 152.13       Satisfait
2                     5                 342.60       Satisfait
3                     0                   0.00       M√©content
4                     0                   0.00       M√©content
5                     2                 127.06       M√©content
6                     1                 129.76  Tr√®s m√©content
7                     2                  50.33       M√©content
8                     3                 485.85          Neutre
9                     2                 305.03       Satisfait
10                    1                  85.98          Neutre
11                    4                 262.75  Tr√®s m√©content
12                    4                 152.13  Tr√®s satisfait
13                    3                 426.82  Tr√®s m√©content
14                    3                  61.77  Tr√®s satisfait
15                    1                  70.21  Tr√®s m√©content
16                    1                  92.94          Neutre
17                    4                 557.23       Satisfait
18                    0                   0.00       M√©content
19                    4                 171.28       M√©content

    AbonnementNewsletter  TypePaiementFavori StatutCompte
0                   True              Paypal      Inactif
1                  False      Carte bancaire        Actif
2                  False       Cryptomonnaie     Suspendu
3                  False            Virement        Actif
4                   True       Cryptomonnaie      Inactif
5                  False            Virement     Suspendu
6                   True      Carte bancaire      Inactif
7                   True            Virement      Inactif
8                   True              Paypal        Actif
9                   True              Paypal      Inactif
10                  True      Carte bancaire        Actif
11                  True            Virement        Actif
12                  True              Paypal      Inactif
13                  True              Paypal        Actif
14                 False       Cryptomonnaie        Actif
15                  True       Cryptomonnaie      Inactif
16                 False            Virement        Actif
17                 False            Virement     Suspendu
18                  True              Paypal     Suspendu
19                  True      Carte bancaire        Actif

[20 rows x 31 columns]

## 3. Data Transformation (Anonymization, pseudonomization, columns selection)
Data transformation is the process of converting raw data into a format that is suitable for analysis. This step involves several key tasks, including:
- [ ] Anonymization
- [ ] Pseudonymization
- [ ] Aggregation
- [ ] Encoding
- [ ] Data discretization
- [ ] Data imputation
- [ ] Data integration
- [ ] Data reduction
- [ ] Data wrangling
- [ ] Data munging
- [ ] Data fusion
- [ ] Data harmonization

## 4. Validation
Data validation is the process of ensuring that the data is accurate, complete, and consistent. This step involves several key tasks, including:
- [ ] Data profiling
- [ ] Data quality assessment
- [ ] Data integrity checks
- [ ] Data validation rules
- [ ] Data validation checks
- [ ] Data validation methods
- [ ] Data validation techniques
- [ ] Data validation tools

## 5. Data Export (To CSV or Excel)
The final step in the data processing pipeline is to export the cleaned and transformed data to a file format that can be used for analysis. This step involves exporting the data to a CSV or Excel file, which can then be imported into a data visualization tool for further analysis.

## 6. Data Visualization (BONUS)

Data visualization is the process of representing data graphically to help data engineers and analysts understand the data and identify patterns and trends. Data visualization is a critical step in the data processing pipeline, as it helps to communicate the results of the analysis to stakeholders and decision-makers. Data visualization involves several key tasks, including: